version: "3.8"
services:
  wordpress:
    container_name: wordpress
    image: wordpress:6-php8.2-apache
    depends_on:
     - db
    restart: unless-stopped
    env_file:
     - .env
    volumes:
     - wp_data:/var/www/html
    networks:
     - wp_network
    ports:
     - "8080:80"

  db:
    container_name: db
    image: mariadb:10.11
    restart: unless-stopped
    env_file:
     - .env
    volumes:
     - db_data:/var/lib/mysql
    networks:
     - wp_network

volumes:
  wp_data:
  db_data:

networks:
  wp_network:
