version: "3.8"
services:
  nginx:
    container_name: reverse_proxy
    image: nginx:1.26-alpine
    ports:
     - "80:80"
    volumes:
     - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
     - wordpress
    networks:
     - wp_network

  wordpress:
    container_name: wordpress
    image: wordpress:6-php8.2-apache
    depends_on:
     - db
    restart: unless-stopped
    env_file:
     - .env
    volumes:
     - wp_data:/var/www/html
    networks:
     - wp_network

  db:
    container_name: db
    image: mariadb:10.11
    restart: unless-stopped
    env_file:
     - .env
    volumes:
     - db_data:/var/lib/mysql
    networks:
     - wp_network

volumes:
  wp_data:
  db_data:

networks:
  wp_network:
